.cat {
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    color: #FFF;
  
  }
  .dog {
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    color: #000;
  }
  .dragon {
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    color: #009933;
  }

  .greetings {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
  }
  
  .greetings.english {
    background-color: #000;
    color: #FFF;
  }
  .greetings.spanish {
    background-color: #FFF;
    color: #000;
  }